# Model weights
*.pth

# Saved embeddings
*.npy

# Python cache
__pycache__/
*.pyc
*.pyo

# Tensorboard logs
tb_log/

# Datasets
urban-elements-re-id-challenge-2026/
UrbAM-ReID/

# Misc
*.zip
{logs}/
Part-Aware-Transformer-main/Part-Aware-Transformer/
Part-Aware-Transformer-main/Part-Aware-Transformer/
Part-Aware-Transformer-main/model/part_attention_vit_40/
Part-Aware-Transformer-main/model/*.pth
